<div class="page">
  <div class="component">
    <div class="num-container">
      <div class="num">
        <div class="num-dig">
          <div class="last" :style="add.status ? add.last : {}">1</div>
          <div class="current" :style="add.status ? add.current : {}">2</div>
          <div class="next" :style="add.status ? add.next : {}">3</div>
          <div class="pend" :style="add.status ? add.pend : {}">4</div>
        </div>
        <!-- <div class="num-dig">
          <div class="last">1</div>
          <div class="current">2</div>
          <div class="next">3</div>
          <div class="pend">4</div>
        </div>
        <div class="num-dig">
          <div class="last">1</div>
          <div class="current">2</div>
          <div class="next">3</div>
          <div class="pend">4</div>
        </div> -->
      </div>
    </div>
    <div class="cover before"></div>
    <div class="cover after"></div>
  </div>
</div>